<div id="<%= dom_id nurse %>">
  <p>
    <strong>名前:</strong>
    <%= nurse.name %>
  </p>

  <p>
    <strong>チーム:</strong>
    <%= nurse.team %>
  </p>

  <p>
    <strong>ラダーレベル:</strong>
    <%= nurse.ladder_level %>
  </p>

</div>
