<p style="color: green"><%= notice %></p>

<h1>看護師一覧</h1>

<div id="nurses">
  <% @nurses.each do |nurse| %>
    <%= render nurse %>
    <p>
      <%= link_to "詳細", nurse %>
    </p>
  <% end %>
</div>

<%= link_to "登録", new_nurse_path %>
